<section class="user-section">
    <div style="display: flex; justify-content: space-between">
        <h2><%= "Name: #{@user.name}" %></h2>
        <%= link_to 'Send Request',  class: 'profile-link'  %>
    </div>
    <article class="timeline">
        <h3>Recent posts:</h3>
        <ul class="posts">
            <%= render @posts %>
        </ul>
    </article>
</section>